{% extends "base.html" %}

{% block title %}Iniciar sesión{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">Iniciar sesión</h3>

                    <form method="POST">
                    {{ form.hidden_tag() }}

                        <!-- Email -->
                        <div class="mb-3">
                            {{ form.email.label(class="form-label") }}
                            {{ form.email(class="form-control", placeholder="tucorreo@ejemplo.com") }}
                        </div>

                        <!-- Password -->
                        <div class="mb-3">
                            {{ form.password.label(class="form-label") }}
                            <div class="input-group">
                                {{ form.password(class="form-control", id="passwordField", placeholder="••••••••") }}
                                <button type="button" class="btn btn-outline-secondary toggle-password" data-target="#passwordField">
                                <i class="bi bi-eye"></i>
                                </button>
                            </div>
                        </div>

                        <!-- Submit -->
                        <div class="d-grid">
                            {{ form.submit(class="btn btn-primary btn-lg") }}
                        </div>
                    </form>

                    <p class="mt-3 text-center">
                        ¿No tienes cuenta?
                        <a href="{{ url_for('auth.register') }}">Regístrate</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}